.item-card {
    scroll-snap-align: center;/*animación para que funcione el scroll de arriba y centra el scroll*/
    margin-top: 1px;
    border-radius: 30px;
    background: white;
    text-decoration: none;
    outline: none;
    color: black;
    margin: 4px;
    padding: 8px 16px;
}

.item-card a{
    border-radius: 30px;
    text-decoration: none;
    outline: none;
    color: inherit;
    text-transform: capitalize;
}

.item-card:hover {
    background: red;
    color: white;
    cursor: pointer;
}

.item-card.active {
    background: red;
    color: white;
}
