.footer-container{
    position: fixed;
    display: flex;
    background: #000;
    align-content: center;
    justify-content: space-around;
    padding: 8px 16px;
    left: 0;
    right: 0;
    bottom: 0;
}

.btn-icon{
   
    padding: 8px;
    background: none;
    color: white;
    border-radius: 50px;
    border: solid;
    
}

.btn-icon:hover, .btn-icon:focus {
    background: rgba(67, 67, 67, 0.5);
}
