.Order{
    min-width: 100%;
    padding: 16px;
}
.OrderButtonContainer {
    list-style: none;
}
.btn-send{
    border-radius: 30px;
    text-decoration: none;
    outline: none;
    background-color: red;
    width:auto;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    margin-top: 16px;
    padding: 8px 16px;
}
/* ---------- */
.card-container{
    background-color: rgb(41, 41, 41);
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
}

.card-body{
    display: flex;
    flex-direction: column;
    padding: 16px;
}

.title-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.card-title{
    color: red;
    font-size: 1.2rem;
}
.card-text{
    color: white;
    font-size: 1rem;
}
.card-price{
    color: red;
    font-size: 1.2rem;
}
.card-quantity{
    display: flex;
    color: red;
    margin: 8px 0;
    justify-content: space-between;
    align-items: center;
}

.card-quantity-controls {
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.btn-quantity {
    width: 30px;
    height: 30px; 
    border-radius: 15px;
    border-color: inherit;
    border-style: none;
}

.btn-add{
    justify-self: flex-end;
    border-radius: 30px;
    padding: 8px;
}

.whatsappContainer {
    text-decoration: none;
}

.whatsappContainer:visited {
    color: white;
}

.order-cost-container {
    margin: 32px auto;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.order-cost {
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
}

.order-total {
    font-size: 1.4rem;
}
